<html>
	<head>
		<title>Hospital Control Panel</title>
		<link rel="stylesheet" href="../static/styles.css">

		<script defer>
			const post = (path, actionType, patientId) => {
				const form = document.createElement('form');
				form.method = 'post';
				form.action = path;

				let hiddenField = document.createElement('input');
				hiddenField.type = 'hidden';
				hiddenField.name = actionType;
				hiddenField.value = patientId;

				form.appendChild(hiddenField);

				document.body.appendChild(form);

				form.submit();
			}
		</script>

        <script defer>
            const admitPatient = el => {
                post('admit-patient', 'admit', el.name);
            }

            const removePatient = el => {
            	post('remove-patient', 'remove', el.name);
            }
        </script>


	</head>
	<body>
		<div class="header">
			<div class="heading" style="font-size:95px;">Hospital Control Panel</div>
			<div class="underline-wrapper"><div class="underline" id="server-underline"></div></div>
			<div class="subtext-hider">
				<div class="subtext">COVID War Room AI System</div>
			</div>
		</div>

		<div class="sticky-info">

			<div class="sticky-flex-container">
				<div class="sticky-hospital-name">Hospital Name: {{ hospital.name }}</div>
				<div class="total-beds-info">Total Beds: {{ hospital.total_beds }}</div>
				<div class="available-beds-info">Beds Available: {{ hospital.current_free_beds }}</div>
				<div>Beds Used: {{ hospital.total_beds - hospital.current_free_beds }}</div>
			</div>

			<div class="sticky-btn-container">
				<button class="sticky-info-btn">Enter New Patient Details</button>
				<button class="sticky-info-btn" onclick="location.replace('/')">Refresh</button>
			</div>

		</div>

		<div class="column-container">

			<div class="server-patients">
				<div class="col-heading">War Room Updates</div>


                {% for new_patient in new_patients %}

				<div class="list-component-wrapper">
					<div class="patient-list-item">
						<div class="new-patient-details">
							<div class="patient-detail"><b>Patient</b>: {{ new_patient.name }} ({{ new_patient.gender }}/{{ new_patient.age }})</div>
							<div class="patient-detail"><b>Phone Number</b>: {{ new_patient.phone_number }}</div>
							<div class="patient-detail"><b>Address</b>: {{ new_patient.home_address }}</div>
						</div>
						<button class="admit-new-patient" onclick="admitPatient(this)" name="{{ new_patient.id }}">Admit</button>
					</div>
				</div>


                {% endfor %}


			</div>

			<div class="current-patients">
				<div class="col-heading">Current Patients</div>



                {% for existing_patient in existing_patients %}


				<div class="list-component-wrapper">
					<div class="patient-list-item">
						<div class="new-patient-details">
							<div class="patient-detail"><b>Patient</b>: {{ existing_patient.name }} ({{ existing_patient.gender }}/{{ existing_patient.age }})</div>
							<div class="patient-detail"><b>Phone Number</b>: {{ existing_patient.phone_number }}</div>
							<div class="patient-detail"><b>Address</b>: {{ existing_patient.home_address }}</div>
						</div>

						<div class="btns-wrapper">
							<button class="death-btn" name="{{ existing_patient.id }}" onclick="removePatient(this)">Death</button>
							<button class="discharge-btn" name="{{ existing_patient.id }}" onclick="removePatient(this)">Discharge</button>
						</div>
					</div>
				</div>


                {% endfor %}




			</div>
		</div>
	</body>
</html>