<html>
	<head>
		<title>Patient Approval Database</title>
		<link rel="stylesheet" href="../static/styles.css">
		<style>
			.all-patients-approved {
				color: var(--text-color-1);
				font-size: 50px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				text-align: center;
			}
		</style>

		<script defer>
			const post = (patientId=null, hospitalId=null) => {
				const form = document.createElement('form');
				form.method = 'post';
				form.action = '/approve-patients';

				let hiddenField = document.createElement('input');
				hiddenField.type = 'hidden';
				hiddenField.name = patientId;
				hiddenField.value = hospitalId;

				form.appendChild(hiddenField);

				document.body.appendChild(form);

				form.submit();

			}
		</script>

	</head>
	<body>
		<div class="header">
			<div class="heading" id="server-heading">Patient Approval Database</div>
			<div class="underline-wrapper"><div class="underline" id="server-underline"></div></div>
			<div class="subtext-hider">
				<div class="subtext" id="server-subtext">COVID War Room AI System</div>
			</div>
		</div>

		<div class="bed-indicator-wrapper">
			<div class="hospital-bed-indicator">
				{% for hospital in hospital_list%}
				<div>
					Free Beds in {{ hospital.name }}: {{ hospital.current_free_beds }}
				</div>
				{% endfor %}
			</div>
		</div>

		<div style="display:flex;justify-content:center;margin-bottom: 70px;">
			<button class="refresh-btn" onclick="location.replace('/')">
				Refresh
			</button>
		</div>



		{% if num_patients == 0 %}
			<div class="form-wrapper">
				<div class="list-element-wrapper">
					<div style="font-size:30px;text-align:center">All The Patients Have Been Approved</div>
				</div>
			</div>
		{% else %}

		{% for patient, recommended_hospital in suggestion_list.items() %}

			<div class="form-wrapper">
				<div class="list-element-wrapper">
					<div class="list-element-top-row">
						<div class="top-row-elem"><b>{{ patient.name }}:</b></div>
						<div class="top-row-elem"><b>{{ patient.gender }}/{{ patient.age }}</b></div>

						<div class="top-row-elem recom-elem">Recommendation:
							<select class="server-dropdown" >
								<option value="home-isolation">Home Isolation</option>
								{% for hospital in hospital_list %}

									{% if hospital == recommended_hospital%}
										<option value="{{ hospital.id }}" selected>{{ hospital.name }}</option>
									{% else %}
										<option value="{{ hospital.id }}">{{ hospital.name }}</option>
									{% endif %}

								{% endfor %}
							</select>
						</div>
					</div>

					<div class="health-param fever-param">Fever: <b>{{ patient.health['fever'] }}°F</b> </div>
					<div class="health-param cough-param">Cough: <b>{{ patient.health['cough'] }}</b></div>
					<div class="health-param breathlessness-param">Breathlessness: <b>{{ patient.health['breathlessness'] }}</b></div>
					<div class="health-param oxygen-param">Oxygen Saturation: <b>{{ patient.health['oxygen'] }}</b></div>
					<div class="health-param hrct-param">HRCT Score: <b>{{ patient.health['hrct'] }}</b></div>

					<button class="approve-patient refresh-btn" id="server-approve" name="{{ patient.id }}" onclick="post(patientId={{ patient.id }}, hospitalId=this.parentElement.children[0].children[2].children[0].value)">Approve</button>
				</div>

			</div>

		{% endfor %}

		{% endif %}
	</body>
</html>
